.background_main {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.color,
.color:hover,
.color:focus,
.color:visited {
    background-color: #faf9f9;
    color: #ccced2;

}




.cole {
    color: #e0e3e8;
    text-shadow: #0a0a0a 3px 1px 4px;
    word-wrap: break-word;
}

.menu {
    position: fixed; /* Фиксированное положение */
    right: 1%; /* Расстояние от правого края окна браузера */
    top: 50%; /* Расстояние сверху */
    padding: 10px; /* Поля вокруг текста */
    background: #ffe; /* Цвет фона */
 /* Параметры рамки */
   }
   .text {
    height: 1000px;
   }