.background_main {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.color,
.color:hover,
.color:focus,
.color:visited {
    background-color: #faf9f9;
    color: #ccced2;

}




.cole {
    color: #e0e3e8;
    text-shadow: #0a0a0a 3px 1px 4px;
    word-wrap: break-word;
}