{% extends 'exp/base.html' %}

{% block title %}
    Услуги
{% endblock title %}

{% block content %}
<div class="container-md">
     {% for item in object_list %}
    <div class="container-md card border-success mb-3" style="max-width: 18rem;">
    <div class="card-header bg-transparent border-success">Шапка</div>
    <div class="card-body text-success">
        <h5 class="card-title">Success Заголовок карточки</h5>
        <p class="card-text">Несколько быстрых примеров текста для построения на основе Заголовок карточки и составления
            основной части содержимого карточки.</p>
    </div>
    <div class="card-footer bg-transparent border-success">Подвал</div>
</div>

{% endblock content %}