{% load static %}
<!DOCTYPE html>
<html lang="en">
<head class="background_main" style="background-image: url({% static 'img/весы.jpg' %});backdrop-filter: blur(5px)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
            Судебная экспертиза
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://vk.com/js/api/openapi.js?169" type="text/javascript"></script>
</head>
<body class="background_main"
      style="background-image: url({% static 'img/весы.jpg' %});backdrop-filter: blur(5px); background-position: center center;
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: cover;">
{# VK Widget #}
<div id="vk_community_messages"></div>
<script type="text/javascript">
    VK.Widgets.CommunityMessages("vk_community_messages", 216989087, {
        expanded: "0",
        tooltipButtonText: "Есть вопрос?"
    });
</script>
{% block messages %}
    {% include 'includes/messages.html' %}
{% endblock messages %}
{% include 'includes/navbar.html' %}

<div class="container-md">
    {% block content %}
        <div class="container">
            <h5 class="cole">
                <p class="display-5 text-center">Судебно-криминалистическая экспертиза
                </p>
                <p class="display-8">
                    <img src="{% static "img/exp.png" %}" align="right" width="50%" alt="">
                    Проведение судебно-криминалистической экспертизы для государственных органов,
                    физических и юридических лиц<br>
                    Определить давность документов от 0 до 10 лет и старше<br>
                    Обеспечить фактическую неоспоримость результатов


                </p>
            </h5>
        </div>

    {% endblock %}
</div>
<div class="container-lg mt-auto">
    <hr>
    <div class="row justify-content-center">
        <div class="col-sm-6 col-md-3 text-center">
            <p>
                <strong>телефон</strong>
            </p>
            <div class=phone><a href="tel:+79093694701">+7 (909) 369-47-01</a></div>
            <div class=phone><a href="tel:+79317068600">+7 (931) 706-86-00</a></div>

        </div>


    </div>
</div>


{% block js %}
    <script>
        $(document).ready(function () {

            {% if messages %}
                // Toasts
                $(".toast").toast({delay: 5000});
                $(".toast").toast("show");
            {% endif %}

        });
    </script>
{% endblock js %}
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>


</body>
</html>