{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>
        {% block title %}
            Судебная экспертиза
        {% endblock title %}
    </title>

    <meta name="description" content='{% block description %}{% endblock description %}'>
    <meta name="keywords"
          content='{% block keywords %}{% endblock keywords %}'/>
    {% include 'includes/Head.html' %}
    {% block jivo %}
        <script src="//code.jivo.ru/widget/59EsN6WoGO" async></script>
    {% endblock jivo %}
</head>
<body>

{% block messages %}
    {% include 'includes/messages.html' %}
{% endblock messages %}


{% block navbar %}
    {% include 'includes/navbar.html' %}
{% endblock navbar %}


{% block navTabs %}
    {% include 'includes/nav&tabs.html' %}
{% endblock navTabs %}


{% block content %}
{% endblock content %}


<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'js/Chart.min.js' %}"></script>
<script src="{% static 'js/fontawesome.all.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/затухание.js' %}"></script>
{% block js %}
    {% include 'includes/Body.html' %}
{% endblock js %}
{% block social %}
    <div class="container-xxl mt-auto">
        <div class="row justify-content-center">
            <div class="col-sm-9 col-md-5 text-center">
                {#            <p>#}
                {#                <strong class="color2">Мы в соц сетях!</strong>#}
                {#            </p>#}
                <a href="https://vk.com/club216989087"><img alt="VK" class="width"
                                                            src="{% static 'img/social_media/VK.png' %}"></a>

                <a href="https://instagram.com/forensic_forever?igshid=MzRlODBiNWFlZA"><img alt="instagram"
                                                                                            class="width"
                                                                                            src="{% static 'img/social_media/instagram.png' %}"></a>
                <a href="https://t.me/sudexpert2023"><img alt="telegram" class="width"
                                                          src="{% static 'img/social_media/telegram.png' %}"></a>
            </div>
        </div>
    </div>
{% endblock social %}
</body>
</html>