{% load static %}
<!DOCTYPE html>
<html lang="en">
<head class="background_main" style="background-image: url({% static 'img/весы.jpg' %});backdrop-filter: blur(5px)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    <title>
        {% block title %}
        Судебная экспертиза
        {% endblock title %}
    </title>
    <meta name="yandex-verification" content="582690300f804461"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://vk.com/js/api/openapi.js?169" type="text/javascript"></script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () {
                (m[i].a = m[i].a || []).push(arguments)
            };
            m[i].l = 1 * new Date();
            for (var j = 0; j < document.scripts.length; j++) {
                if (document.scripts[j].src === r) {
                    return;
                }
            }
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(93806158, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true
        });

    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/93806158" style="position:absolute; left:-9999px;" alt=""/></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
</head>
<body class="background_main"
      style="background-image: url({% static 'img/весы.jpg' %});backdrop-filter: blur(5px); background-position: center center;
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: cover;">
{# VK Widget #}
<div id="vk_community_messages"></div>
<script type="text/javascript">
    VK.Widgets.CommunityMessages("vk_community_messages", 216989087, {
        expanded: "0",
        tooltipButtonText: "Есть вопрос?"
    });




</script>
{% block messages %}
{% include 'includes/messages.html' %}
{% endblock messages %}
{% block navbar %}
{% include 'includes/navbar.html' %}
{% endblock navbar %}

<div class="container-md">
    {% block content %}
    <div class="container">
        <h5 class="cole">
            <p class="display-5 text-center">Судебные и криминалистические экспертизы
            </p>
            <p class="display-8">
                <img src="{% static  'img/exp.png' %}" align="right" width="50%" alt="">
                Экспертная деятельность в современном мире – это отрасль знаний, объединяющая научно-техническую,
                социальную и правовую сферы. Наука не стоит на месте, и эта отрасль постоянно совершенствуется.
                Появляются новые методы и методики экспертного исследования, а развивающиеся IT-технологии активно
                способствуют этому. Это требует от экспертов постоянного повышения квалификации и отслеживания
                мировых трендов в мировой науке.
                Заключение эксперта, очень часто, является решающим доказательством при вынесении судебного решения,
                поэтому подход к выбору экспертной организации должен основываться на нескольких важных требованиях:<br>
            <p>
                - методики исследования должны быть аттестованы в установленном законом порядке, приборы и средства
                измерения внесены в Государственный реестр и поверены (Федеральный закон "Об обеспечении единства
                измерений" от 26.06.2008 № 102-ФЗ), в противном случае, заключение эксперта может быть признано
                недопустимым доказательством<br>
            </p>
            <p>
                - эксперт должен быть компетентен. Как прописано в законах эксперт – это лицо, обладающее
                специальными знаниями, т.е. он должен иметь высшее образование и получить дополнительное
                профессиональное образование по конкретной экспертной специальности. Не менее важным является
                профессиональный опыт эксперта<br>
            </p>
            <p>
                - экспертная организация должна иметь современную техническую базу для обеспечения технической
                возможности проведения судебно-технической экспертизы.
            </p>
            <p>
                Мы готовы предоставить Вам высокопрофессиональные экспертные заключения, отвечающие всем
                перечисленным требованиям
            </p>


            </p>
        </h5>
    </div>
    {% endblock content %}

</div>
<div class="container-lg mt-auto">
    <hr>
    <div class="row justify-content-center">
        <div class="col-sm-6 col-md-3 text-center">
            <p>
                <strong>телефон</strong>
            </p>
            <div class=phone><a href="tel:+79093694701">+7 (909) 369-47-01</a></div>
            <div class=phone><a href="tel:+79317068600">+7 (931) 706-86-00</a></div>

        </div>


    </div>
</div>

<script>
        $(document).ready(function () {

            {% if messages %}
                // Toasts
                $(".toast").toast({delay: 5000});
                $(".toast").toast("show");
            {% endif %}

        });

</script>
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>


</body>
</html>