{% extends 'exp/base.html' %}
{% load comments %}
{% block description %}
{{ object.preamble }}
{% endblock description %}
{% block keywords %}
{{ object.keyword }}
{% endblock keywords %}
{% block title %}
{{ object.title|default:"Новости" }}
{% endblock title %}

{% block content %}
<div class="row justify-content-center pt-3 ">

    <div class="col-md-12 col-lg-8">
        <div class="card shadow color">
            <div class="card-body">
                <div style="text-align: center;">
                {% autoescape off %}
                <h3 class="card-title cole3">{{ object.title }}</h3>
                <h6 class="card-title cole3">{{ object.created }}</h6>
                <h5 class="card-title cole3">{{ object.preamble }}</h5>

                    {% if object.image %}
                    <img src="{{ object.image.url }}" class="img-thumbnail img-fluid rounded-start"
                         alt="{{ object.title }}"
                         style="max-height:250px">
                    {% endif %}
                    {% if object.image1 %}
                    <img src="{{ object.image1.url }}" class="img-thumbnail img-fluid rounded-start"
                         alt="{{ object.title }}"
                         style="max-height:250px">
                    {% endif %}
                    {% if object.image2 %}
                    <img src="{{ object.image2.url }}" class="img-thumbnail img-fluid rounded-start"
                         alt="{{ object.title }}"
                         style="max-height:250px">
                    {% endif %}
                    {% if object.image3 %}
                    <img src="{{ object.image3.url }}" class="img-thumbnail img-fluid rounded-start"
                         alt="{{ object.title }}"
                         style="max-height:250px">
                    {% endif %}
                </div>
                <p class="card-text cole3 text-justify">
                    {{ object.body }}
                </p>
                {% endautoescape %}

                {% if perms.exp.change_news %}
                <a href="{% url 'exp:news_update'  slug=object.slug %}">
                    <i class="card-link cole3 col-5">редактировать</i>
                </a>
                {% endif %}
                {% if perms.exp.delete_news %}
                <a href="{% url 'exp:news_delete'  slug=object.slug %}">
                    <i class="card-link cole3 col-5">удалить</i>
                </a>
                {% endif %}
                <p class=" del-update">
                <a href="{% url 'exp:news' %}" class="btn btn-primary ">Назад</a>
                </p>
            </div>
        </div>
        {% get_comment_count for object as comment_count %}
        <p>количество комментариев: {{ comment_count }} </p>

        <div>

            {% get_comment_list for object as comment_list %}
            {% for comment in comment_list %}
            <div class=" card shadow comments">
                <p class="margin-left">{{ comment.user_name }} </p>
                <p class="margin-left">{{ comment.comment }}</p>
                <p class="del-update margin-left">{{ comment.submit_date }}</p>
            </div>
            {% endfor %}

        </div>

        {% if user.is_authenticated %}
        {% get_comment_form for object as form %}
        <form action="{% comment_form_target %}" method="POST">

            <div class="container">
                <div class="form-group">
                    <div class="form-group">{{ form.comment }}</div>
                </div>
                {% csrf_token %}
                {{ form.honeypot }}
                {{ form.content_type }}
                {{ form.object_pk }}
                {{ form.timestamp }}
                {{ form.security_hash }}
                <input type="hidden" value="{% url 'exp:news_detail' news.id %}" class="input-group-text"/>
                <input type="submit" class="btn btn-primary" value="Комментировать" id="id_submit"/>
                <input type="hidden" name="next" value="{% url 'exp:news_detail' news.slug %}"/>
            </div>
        </form>
    </div>
</div>
{% else %}
<p>Пожалуйста <a href="{% url 'authapp:login' %}">выполните вход</a> что бы оставить комментарий.</p>
{% endif %}
{% endblock content %}