{% extends 'exp/base.html' %}
{% load static %}
{% block title %}
    Эксперты
{% endblock %}
{% block description %}
    Наши эксперты
{% endblock description %}
{% block keywords %}
    Фокин ВВ, Кочемировский ВА, Кочемировская СВ, Фогель АА, Ищук ДЛ, Денисова ЮЮ, Барова ВО, Бычков ЮЮ, Ершова КО, Исаев АВ
{% endblock keywords %}
{% block content %}
    <div class="color2">
        {% if user.is_staff %}
            <div class="container text-left ">
                <div class="row">
                    <div class="col-4">
                        <img width="150" height="150" src="{% static 'img/я.jpg' %}" class="img-thumbnail"
                             alt="">
                    </div>
                    <div class="col-8 card-text text-justify">
                        <p>
                            &#10031;<b>Валерка</b><br>
                            &#8226; Брат жены эксперта<br>


                        </p>
                    </div>

                </div>
            </div>
        {% endif %}
        <div itemscope itemtype="https://schema.org/Person" class="container text-left">
            <div class="row">
                <div class="col-4">
                    <img itemprop="image" width="150" height="150" src="{% static 'img/Volodya.jpg' %}" class="img-thumbnail"
                         alt="Кочемировский В.А.">
                </div>
                <div class="col-8 card-text text-justify">
                    <p>
                        <meta itemprop="worksFor" content="ООО Судебные и криминалистические экспертизы">
                        &#128269;<b><span itemprop="name">Кочемировский Владимир Алексеевич</span></b><br>
                        &#8226; <span itemprop="jobTitle">Эксперт-химик, эколог</span>, стаж профессиональной деятельности – 40 лет, в том числе опыт
                        экспертной деятельности более 25 лет.<br>
                        &#8226; Образование: <span itemprop="alumniOf">Ленинградский Государственный Университет, химический факультет (1976 –
                        1982</span>
                        гг).<br>
                        &#8226; <span itemprop="honorificSuffix">Кандидат химических наук (1989 г.)</span>,<br>
                        &#8226; <span itemprop="performerIn">Автор более 70 научных работ, индекс Хирша 15.</span><br>
                        &#8226; <span itemprop="memberOf">Член Палаты судебных экспертов им. Ю. Г. Корухова с 2011 г.</span><br>
                        &#8226; <span itemprop="memberOf">Доцент Санкт-Петербургского политехнического университета им. Петра Великого.</span><br>
                    </p>
                </div>
            </div>
        </div>

        <div itemscope itemtype="https://schema.org/Person" class="container text-left ">
            <div class="row">
                <div class="col-4">
                    <img itemprop="image" width="150" height="150" src="{% static 'img/Фогель.jpg' %}" class="img-thumbnail"
                         alt="Фогель А.А.">
                </div>
                <div class="col-8 card-text text-justify">
                    <p>
                        <meta itemprop="worksFor" content="ООО Судебные и криминалистические экспертизы">
                        &#128269;<b><span itemprop="name">Фогель Алена Александровна</span></b><br>
                        &#8226; <span itemprop="jobTitle">Эксперт-эколог</span>, стаж профессиональной деятельности более 10 лет. <br>
                        &#8226; Образование: <span itemprop="alumniOf">Алтайский Государственный Технический Университет им. И. И. Ползунова по
                        специальности: “Охрана окружающей среды и рациональное использование природных ресурсов”,
                        специализация: промышленная экология (диплом с отличием, 2004-2009 гг.).</span> <br>
                        &#8226; <span itemprop="honorificSuffix">Кандидат технических наук (2013 г.)</span><br>
                    </p>
                </div>
            </div>
        </div>
        <div itemscope itemtype="https://schema.org/Person" class="container text-left ">
            <div class="row">
                <div class="col-4">
                    <img itemprop="image" width="150" height="150" src="{% static 'img/Ищук.jpg' %}" class="img-thumbnail"
                         alt="Ищук Д.Л.">
                </div>
                <div class="col-8 card-text text-justify">
                    <p>
                        <meta itemprop="worksFor" content="ООО Судебные и криминалистические экспертизы">
                        &#128269;<b><span itemprop="name">Ищук Диана Леонидовна</span></b><br>
                        &#8226; <span itemprop="jobTitle">Инженер-исследователь.</span> <br>
                        &#8226; Образование: <span itemprop="alumniOf">Санкт-Петербургский политехнический университет, Высшая школа юриспруденции
                        и судебно-технической экспертизы.</span>
                        &#8226; Специализируется в области рамановской спектроскопии.<br>
                        <br> <br>
                    </p>
                </div>
            </div>
        </div>
        <div itemscope itemtype="https://schema.org/Person" class="container text-left ">
            <div class="row">
                <div class="col-4">
                    <img itemprop="image" width="150" height="150" src="{% static 'img/Денисова.jpg' %}" class="img-thumbnail"
                         alt="Денисова Ю.Ю.">
                </div>
                <div class="col-8 card-text text-justify">
                    <p>
                        <meta itemprop="worksFor" content="ООО Судебные и криминалистические экспертизы">
                        &#128269;<b><span itemprop="name">Денисова Юлия Юрьевна</span></b><br>
                        &#8226; <span itemprop="jobTitle">Инженер-исследователь.</span><br>
                        &#8226; Образование: <span itemprop="alumniOf">Санкт-Петербургский политехнический университет, Высшая школа юриспруденции
                        и судебно-технической экспертизы.</span>
                        &#8226; Специализируется в области оптических методов исследования и хромато-масс-спектрометрии.<br>
                        <br>
                    </p>
                </div>
            </div>
        </div>
        <div itemscope itemtype="https://schema.org/Person" class="container text-left ">
            <div class="row">
                <div class="col-4">
                    <img itemprop="image" width="150" height="150" src="{% static 'img/Барова.png' %}" class="img-thumbnail"
                         alt="Барова В.О.">
                </div>
                <div class="col-8 card-text text-justify">
                    <p>
                        <meta itemprop="worksFor" content="ООО Судебные и криминалистические экспертизы">
                        &#128269;<b><span itemprop="name">Барова Валерия Олеговна</span></b><br>
                        &#8226; <span itemprop="jobTitle">Инженер-исследователь.</span> <br>
                        &#8226; Образование: <span itemprop="alumniOf">Санкт-Петербургский политехнический университет, Высшая школа юриспруденции
                        и судебно-технической экспертизы.</span>
                        &#8226; • Специализируется в области хроматографических методов исследования.<br>
                    </p>
                </div>
            </div>
        </div>
        <div itemscope itemtype="https://schema.org/Person" class="container text-left ">
            <div class="row">
                <div class="col-4">
                    <img itemprop="image" width="150" height="150" src="{% static 'img/света.jpg' %}" class="img-thumbnail"
                         alt="Кочемировская С.В.">
                </div>
                <div class="col-8 card-text text-justify">
                    <p>
                        <meta itemprop="worksFor" content="ООО Судебные и криминалистические экспертизы">
                        &#128269;<b><span itemprop="name">Кочемировская Светлана Валерьевна</span></b><br>
                        &#8226; <span itemprop="jobTitle">Эксперт-химик</span>, стаж профессиональной деятельности – 10 лет.<br>
                        &#8226; Образование: <span itemprop="alumniOf">Санкт-Петербургский Государственный Университет, Химический факультет (2006
                        –
                        2012 гг).</span><br>
                        &#8226; <span itemprop="honorificSuffix">Кандидат химических наук (2017 г.)</span><br>
                        &#8226; <span itemprop="performerIn">Автор ряда научных статей.</span><br>
                        &#8226; <span itemprop="memberOf">Доцент Санкт-Петербургского Политехнического Университета им. Петра Великого.</span><br>
                    </p>
                </div>
            </div>
        </div>
        <div itemscope itemtype="https://schema.org/Person" class="container text-left ">
            <div class="row">
                <div class="col-4">
                    <img itemprop="image" width="150" height="150" src="{% static 'img/Бычков.jpg' %}" class="img-thumbnail"
                         alt="Бычков Ю.Ю.">
                </div>
                <div class="col-8 card-text text-justify">
                    <p>
                        <meta itemprop="worksFor" content="ООО Судебные и криминалистические экспертизы">
                        &#128269;<b><span itemprop="name">Бычков Юрий Юрьевич</span></b><br>
                        &#8226;<span itemprop="jobTitle">Возглавляет юридический сектор компании и юридическое агентство Бычковых.</span><br>
                        &#8226; <span itemprop="memberOf">Член Ассоциации юристов России, советник юстиции в отставке</span>, имеет огромный опыт ведения
                        гражданских и арбитражных дел, руководства компаниями.<br>
                        &#8226; Занимается решением любых юридических проблем любой сложности.</p>
                </div>
            </div>
        </div>

        <div itemscope itemtype="https://schema.org/Person" class="container text-left ">
            <div class="row">
                <div class="col-4">
                    <img itemprop="image" width="150" height="150" src="{% static 'img/Ксения.jpg' %}" class="img-thumbnail"
                         alt="Ершова К.О.">
                </div>
                <div class="col-8 card-text text-justify">
                    <p>
                        <meta itemprop="worksFor" content="ООО Судебные и криминалистические экспертизы">
                        &#128269;<b><span itemprop="name">Ершова Ксения Олеговна</span></b><br>
                        &#8226;<span itemprop="jobTitle">Инженер-химик</span>, стаж профессиональной деятельности более 6 лет.<br>
                        &#8226;Образование: <span itemprop="alumniOf">Санкт-Петербургский Государственный Университет, Институт химии (2010 – 2015
                        гг)</span>, автор научных статей.<br> <br> <br>
                </div>
            </div>
        </div>

        <div itemscope itemtype="https://schema.org/Person" class="container text-left ">
            <div class="row">
                <div class="col-4">
                    <img itemprop="image" width="150" height="150" src="{% static 'img/Исаев.jpg' %}" class="img-thumbnail"
                         alt="Исаев А.В.">
                </div>
                <div class="col-8 card-text text-justify">
                    <p>
                         <meta itemprop="worksFor" content="ООО Судебные и криминалистические экспертизы">
                        &#128269;<b><span itemprop="name">Исаев Александр Владимирович</span></b><br>
                        &#8226; <span itemprop="jobTitle">Эксперт-железнодорожник</span>. Стаж работы по специальности – с 1989 г. (в т. ч.
                        судебно-экспертная деятельность – с 1993 г.).<br>
                        &#8226; Образование: <span itemprop="alumniOf">Санкт-Петербургский Государственный Университет путей сообщения (1988-1993
                        гг.), специальность – «Локомотивы (тепловозы)», квалификация – «инженер путей
                        сообщения-механик».</span><br>
                        &#8226; <span itemprop="honorificSuffix">Кандидат технических наук</span> по специальности «Подвижной состав железных дорог и тяга
                        поездов».<br>
                        &#8226; <span itemprop="performerIn">Автор ряда научно-методических трудов в области теории и практики
                        железнодорожно-транспортной экспертизы, а также технологии ремонта и надежности локомотивов.</span><br>
                        &#8226; <span itemprop="memberOf">Член Палаты судебных экспертов им. Ю. Г. Корухова с 2011 г.</span><br>
                        &#8226; <span itemprop="memberOf">Доцент Санкт-Петербургского Политехнического Университета им. Петра Великого.</span><br>
                        &#8226; Имеет свидетельство на право управления тепловозом, электропоездом, дизель-поездом, а
                        также
                        свидетельство помощника машиниста электровоза, квалификацию «осмотрщик-ремонтник вагонов» и
                        квалификацию «монтёр пути».
                    </p>
                </div>
            </div>
        </div>
        <div itemscope itemtype="https://schema.org/Person" class="container text-left">
            <div class="row">
                <div class="col-4">
                    <img itemprop="image" width="150" height="150" src="{% static 'img/Фокин.jpg' %}" class="img-thumbnail"
                         alt="Фокин В.В.">
                </div>
                <div class="col-8 card-text text-justify">
                    <p>
                        &#128269;<b><span itemprop="name">Фокин Валерий Валерьевич</span></b><br>
                        &#8226; <span itemprop="jobTitle">web-разработчик</span><br>
                        &#8226; Образование: <span itemprop="alumniOf">Государственный университет морского и речного флота имени адмирала
                        Макарова.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}