{% extends 'exp/base.html' %}
{% load static %}

{% block content %}
    <div class="container text-left cole">
        <div class="row">
            <div class="col-4">
                <img width="150" height="150" src="{% static 'img/Volodya.jpg' %}" class="img-thumbnail"
                     alt="">
            </div>
            <div class="col-8 card-text">
                <p>
                    &#128269;<b>Кочемировский Владимир Алексеевич</b><br>
                    &#8226; Эксперт-химик, эколог, стаж профессиональной деятельности – 40 лет, в том числе опыт
                    экспертной деятельности более 25 лет.<br>
                    &#8226; Образование: Ленинградский Государственный Университет, химический факультет (1976 – 1982
                    гг).<br>
                    &#8226; Кандидат химических наук (1989 г.),<br>
                    &#8226; Автор более 70 научных работ, индекс Хирша 15.<br>
                    &#8226; Член Палаты судебных экспертов им. Ю. Г. Корухова с 2011 г.<br>
                    &#8226; Доцент Санкт-Петербургского политехнического университета им. Петра Великого.<br>
                </p>
            </div>
        </div>
    </div>
    <div class="container text-left cole">
        <div class="row">
            <div class="col-4">
                <img width="150" height="150" src="{% static 'img/света.jpg' %}" class="img-thumbnail"
                     alt="">
            </div>
            <div class="col-8 card-text">
                <p>
                    &#128269;<b>Кочемировская Светлана Валерьевна</b><br>
                    &#8226; Эксперт -химик, стаж профессиональной деятельности – 10 лет.<br>
                    &#8226; Образование: Санкт-Петербургский Государственный Университет, Химический факультет (2006
                    –
                    2012 гг).<br>
                    &#8226; Кандидат химических наук (2017 г.)<br>
                    &#8226; Автор ряда научных статей.<br>
                    &#8226; Доцент Санкт-Петербургского Политехнического Университета им. Петра Великого.<br>
                </p>
            </div>
        </div>
    </div>
    <div class="container text-left cole">
        <div class="row">
            <div class="col-4">
                <img width="150" height="150" src="{% static 'img/Бычков.jpg' %}" class="img-thumbnail"
                     alt="">
            </div>
            <div class="col-8 card-text">
                <p>
                    &#128269;<b>Бычков Юрий Юрьевич</b><br>
                    &#8226;Возглавляет юридический сектор компании и юридическое агентство Бычковых.<br>
                    &#8226; Член Ассоциации юристов России, советник юстиции в отставке, имеет огромный опыт ведения
                    гражданских и арбитражных дел, руководства компаниями.<br>
                    &#8226; Занимается решением любых юридических проблем любой сложности.</p>
            </div>
        </div>
    </div>

    <div class="container text-left cole">
        <div class="row">
            <div class="col-4">
                <img width="150" height="150" src="{% static 'img/Ксения.jpg' %}" class="img-thumbnail"
                     alt="">
            </div>
            <div class="col-8 card-text">
                <p>
                    &#128269;<b>Ершова Ксения Олеговна</b><br>
                    &#8226;Инженер-химик, стаж профессиональной деятельности более 6 лет.<br>
                    &#8226;Образование: Санкт-Петербургский Государственный Университет, Институт химии (2010 – 2015
                    гг), автор научных статей.<br> <br> <br>
            </div>
        </div>
    </div>

    <div class="container text-left cole">
        <div class="row">
            <div class="col-4">
                <img width="150" height="150" src="{% static 'img/Исаев.jpg' %}" class="img-thumbnail"
                     alt="">
            </div>
            <div class="col-8 card-text">
                <p>
                    &#128269;<b>Исаев Александр Владимирович</b><br>
                    &#8226; Эксперт-железнодорожник. Стаж работы по специальности – с 1989 г. (в т. ч.
                    судебно-экспертная деятельность – с 1993 г.). .<br>
                    &#8226; Образование: Санкт-Петербургский Государственный Университет путей сообщения (1988-1993
                    гг.), специальность – «Локомотивы (тепловозы)», квалификация – «инженер путей
                    сообщения-механик».<br>
                    &#8226; Кандидат технических наук по специальности «Подвижной состав железных дорог и тяга поездов».<br>
                    &#8226; Автор ряда научно-методических трудов в области теории и практики
                    железнодорожно-транспортной экспертизы, а также технологии ремонта и надежности локомотивов.<br>
                    &#8226; Член Палаты судебных экспертов им. Ю. Г. Корухова с 2011 г.<br>
                    &#8226; Доцент Санкт-Петербургского Политехнического Университета им. Петра Великого.<br>
                    &#8226; Имеет свидетельство на право управления тепловозом, электропоездом, дизель-поездом, а также
                    свидетельство помощника машиниста электровоза, квалификацию «осмотрщик-ремонтник вагонов» и
                    квалификацию «монтёр пути».
                </p>
            </div>
        </div>
    </div>
    <div class="container text-left cole">
        <div class="row">
            <div class="col-4">
                <img width="150" height="150" src="{% static 'img/Фогель.jpg' %}" class="img-thumbnail"
                     alt="">
            </div>
            <div class="col-8 card-text">
                <p>
                    &#128269;<b>Фогель Алена Александровна</b><br>
                    &#8226; Эксперт-эколог, стаж профессиональной деятельности более 10 лет. <br>
                    &#8226; Образование: Алтайский Государственный Технический Университет им. И. И. Ползунова по
                    специальности: “Охрана окружающей среды и рациональное использование природных ресурсов”,
                    специализация: промышленная экология (диплом с отличием, 2004-2009 гг.). <br>
                    &#8226; Кандидат технических наук (2013 г.)<br>
                </p>
            </div>
        </div>
    </div>
    <div class="container text-left cole">
        <div class="row">
            <div class="col-4">
                <img width="150" height="150" src="{% static 'img/Ищук.jpg' %}" class="img-thumbnail"
                     alt="">
            </div>
            <div class="col-8 card-text">
                <p>
                    &#128269;<b>Ищук Диана Леонидовна</b><br>
                    &#8226; Инженер-исследователь. <br>
                    &#8226; Образование: Санкт-Петербургский политехнический университет, Высшая школа юриспруденции и судебно-технической экспертизы.
                    &#8226; Специализируется в области рамановской спектроскопии.<br>
                    <br> <br>
                </p>
            </div>
        </div>
    </div>
    <div class="container text-left cole">
        <div class="row">
            <div class="col-4">
                <img width="150" height="150" src="{% static 'img/Денисова.jpg' %}" class="img-thumbnail"
                     alt="">
            </div>
            <div class="col-8 card-text">
                <p>
                    &#128269;<b>Денисова Юлия Юрьевна</b><br>
                    &#8226; Инженер-исследователь. <br>
                    &#8226; Образование: Санкт-Петербургский политехнический университет, Высшая школа юриспруденции и судебно-технической экспертизы.
                    &#8226; Специализируется в области оптических методов исследования и хромато-масс-спектрометрии.<br> <br>
                </p>
            </div>
        </div>
    </div>
    <div class="container text-left cole">
        <div class="row">
            <div class="col-4">
                <img width="150" height="150" src="{% static 'img/Барова.png' %}" class="img-thumbnail"
                     alt="">
            </div>
            <div class="col-8 card-text">
                <p>
                    &#128269;<b>Барова Валерия Олеговна</b><br>
                    &#8226; Инженер-исследователь. <br>
                    &#8226; Образование: Санкт-Петербургский политехнический университет, Высшая школа юриспруденции и судебно-технической экспертизы.
                    &#8226; •	Специализируется в области хроматографических методов исследования.<br>
                </p>
            </div>
        </div>
    </div>
    <div class="container text-left cole">
        <div class="row">
            <div class="col-4">
                <img width="150" height="150" src="{% static 'img/Фокин.jpg' %}" class="img-thumbnail"
                     alt="">
            </div>
            <div class="col-8 card-text">
                <p>
                    &#128269;<b>Фокин Валерий Валерьевич</b><br>
                    &#8226;  web-разработчик<br>
                    &#8226; Образование: Государственный университет морского и речного флота имени адмирала Макарова.
                </p>
            </div>
        </div>
    </div>



    {% if user.is_superuser %}
        <div class="row">
            <div class="col-4">
                <img width="150" height="150" src="{% static 'img/я.jpg' %}" class="img-thumbnail"
                     alt="">
            </div>
            <div class="col-8 card-text">
                <p>
                    &#10031;<b>Фокин Валерий Валерьевич</b><br>
                    &#8226; Брат жены эксперта<br>


                </p>
            </div>

        </div>
    {% endif %}
    </div>
{% endblock %}