{% extends 'exp/base.html' %}
{% load static %}
{% block description %}
    судебно экспертная деятельность
{% endblock description %}
{% block keywords %}
    виды криминалистических судебных экспертиз, судебно криминалистическая экспертиза документов, назначение судебных экспертиз криминалистические, проведение судебной криминалистической экспертизы, криминалистическая экспертиза судебная практика
{% endblock keywords %}
{% block content %}
    <link rel="canonical" href="https://sudexpert.site/expertise/work"/>
    <div class=" container-md card-text color2">

            <p class="fs-3 text-center ">Судебные и криминалистические экспертизы
            </p>
            <div class="fs-5 text-justify">
                <p >

                    Экспертная деятельность в современном мире – это отрасль знаний, объединяющая научно-техническую,
                    социальную и правовую сферы. Наука не стоит на месте, и эта отрасль постоянно совершенствуется.
                    Появляются новые методы и методики экспертного исследования, а развивающиеся IT-технологии активно
                    способствуют этому. Это требует от экспертов постоянного повышения квалификации и отслеживания
                    мировых трендов в мировой науке.
                    Заключение эксперта, очень часто, является решающим доказательством при вынесении судебного решения,
                    поэтому подход к выбору экспертной организации должен основываться на нескольких важных требованиях:<br>
                <p>
                    - методики исследования должны быть аттестованы в установленном законом порядке, приборы и средства
                    измерения внесены в Государственный реестр и поверены (Федеральный закон "Об обеспечении
                    единства
                    <img src="{% static  'img/home.jpg' %}" class="img-thumbnail" align="right" width="50%"
                         alt="">
                    измерений" от 26.06.2008 № 102-ФЗ), в противном случае, заключение эксперта может быть признано
                    недопустимым доказательством<br>


                </p>
                <p>
                    - эксперт должен быть компетентен. Как прописано в законах эксперт – это лицо, обладающее
                    специальными знаниями, т.е. он должен иметь высшее образование и получить дополнительное
                    профессиональное образование по конкретной экспертной специальности. Не менее важным является
                    профессиональный опыт.
                    <a class="link-info" href="{% url 'exp:employ' %}">НАШИ ЭКСПЕРТЫ</a> имеют огромный опыт и высшую
                    квалификацию!
                    <br>
                </p>
                <p>
                    - экспертная организация должна иметь современную техническую базу для обеспечения технической
                    возможности проведения судебно-технической экспертизы.
                </p>
                <p>
                    Мы готовы предоставить Вам высокопрофессиональные экспертные заключения, отвечающие всем
                    перечисленным требованиям
                </p>


            </div>

    </div>
{% endblock content %}