{% extends 'exp/base.html' %}
{% block description %}
    <meta name="description" content='ООО "СКЭ" выполняет комплекс услуг по экспертизе экологического
состояния водных, почвенных и воздушных природных и  промышленных
объектов. Федеральный центр судебной экспертизы помогает Арбитражным Судам установить
истинную сумму ущерба, значительно снизить размер претензий РПН '/>

{% endblock description %}
{% block content %}
    <div class="carousel-3d" data-gap="20" data-bfc>
        <figure >

                {% for list in object_list %}
                    <div>
                        <a href="{% url 'services:services_detail' slug=list.slug %}">
                            <img src="{{ list.image.url }}" alt="{{ list.title }}">
                        </a>
                    </div>
                {% endfor %}

        </figure>
        <nav>
            <button class="nav prev">Назад</button>
            <button class="nav next">Вперед</button>
        </nav>
    </div>
{% endblock %}