{% load static %}
{#<div id="vk_community_messages" class="position-sticky header"></div>#}
{#<script type="text/javascript">#}
{#    VK.Widgets.CommunityMessages("vk_community_messages", 216989087, {#}
{#        expanded: "0",#}
{#        tooltipButtonText: "Есть вопрос?"#}
{#    });#}
{##}
{#</script>#}


<!-- VK Widget -->

{% block js %}
<script>
    $(document).ready(function () {

        {% if messages %}
            // Toasts
            $(".toast").toast({delay: 5000});
            $(".toast").toast("show");
        {% endif %}

    });
</script>
{% endblock js %}

