{% load static %}
<div class="container-md  background_main"
     style="background-image: url({% static 'img/микро.png' %})">
<div class="row">
    <div class="col-3 ">
        <a class="col-10 " href="{% url 'exp:index' %}">
            <img src="{% static 'img/logo11.png' %}" style="width: 100%;" alt="Судебно-криминалистическая экспертиза">
        </a>
    </div>

    <div class="col-7">
        <p class="display-6 col-7 tex color2">Судебные и криминалистические экспертизы
        </p>
    </div>

    <div class="w-100 colomn"></div>
    <div class="col colomn"></div>
    <div class="col colomn"></div>
</div>
</div>