{% load static %}
<div class="container-md">
    <div class="row">
        <div class="row g-0">

            <div class="col-mda-4 " style="margin:5px">
                <a href="#">
                    <img src="{% static 'img/service/ЖД.png' %}" class="img-thumbnail img-fluid rounded-start" alt=""
                         style="max-height:150px">
                </a>

            </div>

            <div class="col-mda-4" style="margin:5px">
                <a href="#">
                    <img src="{% static 'img/service/давность документов.png' %}" class="img-thumbnail img-fluid rounded-start" alt=""
                         style="max-height:150px">
                </a>

            </div>

            <div class="col-mda-4" style="margin:5px">
                <a href="#">
                    <img src="{% static 'img/service/лингвистическая.png' %}" class="img-thumbnail img-fluid rounded-start" alt=""
                         style="max-height:150px">
                </a>
            </div>
            <div class="col-mda-4" style="margin:5px">
                <a href="#">
                    <img src="{% static 'img/service/металлов и сплавов.png' %}" class="img-thumbnail img-fluid rounded-start" alt=""
                         style="max-height:150px">
                </a>
            </div>
            <div class="col-mda-4" style="margin:5px">
                <a href="#">
                    <img src="{% static 'img/service/НИР.png' %}" class="img-thumbnail img-fluid rounded-start" alt=""
                         style="max-height:150px">
                </a>
            </div>
            <div class="col-mda-4" style="margin:5px">
                <a href="#">
                    <img src="{% static 'img/service/оценочная.png' %}" class="img-thumbnail img-fluid rounded-start" alt=""
                         style="max-height:150px">
                </a>
            </div>
            <div class="col-mda-4" style="margin:5px">
                <a href="#">
                    <img src="{% static 'img/service/почерк.png' %}" class="img-thumbnail img-fluid rounded-start" alt=""
                         style="max-height:150px">
                </a>
            </div>
            <div class="col-mda-4" style="margin:5px">
                <a href="#">
                    <img src="{% static 'img/service/строительная.png' %}" class="img-thumbnail img-fluid rounded-start" alt=""
                         style="max-height:150px">
                </a>
            </div>
            <div class="col-mda-4" style="margin:5px">
                <a href="#">
                    <img src="{% static 'img/service/экология.png' %}" class="img-thumbnail img-fluid rounded-start" alt=""
                         style="max-height:150px">
                </a>
            </div>
            <div class="col-mda-4" style="margin:5px">
                <a href="#">
                    <img src="{% static 'img/service/экспертиза метериалов.png' %}" class="img-thumbnail img-fluid rounded-start" alt=""
                         style="max-height:150px">
                </a>
            </div>
            <div class="col-mda-4" style="margin:5px">
                <a href="#">
                    <img src="{% static 'img/service/юр.услуги.png' %}" class="img-thumbnail img-fluid rounded-start" alt=""
                         style="max-height:150px">
                </a>
            </div>

        </div>
    </div>

</div>
